html {
    background-color: #282c34;
}

.myContainer {
    min-height: 100%;
    position: relative;
    text-align: center;
    
}

/* Control the left side */
.leftBox {
    width: 20%;
    position: fixed;
    left: 0;
    background-color: white;
}

/* Control the right side */
.rightBox {
    width: 80%;
    position: fixed;
    right: 0;
}
